examples/flow_rf24.json
[
    {
        "id": "b508ed10.3794",
        "type": "tab",
        "label": "NRF24L01 simple",
        "disabled": true,
        "info": ""
    },
    {
        "id": "b06cc350.b3b28",
        "type": "RF24input",
        "z": "b508ed10.3794",
        "name": "Example input",
        "topic": "dataf",
        "radio": "b4732512.8162d8",
        "outputstring": false,
        "pipeaddress": "0x65646f4e32",
        "autoack": true,
        "x": 250,
        "y": 700,
        "wires": [
            [
                "81f0df49.324ac",
                "db800707.9ddfe8"
            ]
        ]
    },
    {
        "id": "81f0df49.324ac",
        "type": "debug",
        "z": "b508ed10.3794",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 510,
        "y": 880,
        "wires": []
    },
    {
        "id": "db800707.9ddfe8",
        "type": "RF24output",
        "z": "b508ed10.3794",
        "name": "Example output",
        "radio": "b4732512.8162d8",
        "pipeaddress": "0x72646f4e32",
        "autoack": true,
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "b4732512.8162d8",
        "type": "RF24radio",
        "z": "",
        "name": "RF0",
        "ce": "25",
        "cs": "0",
        "palevel": "3",
        "datarate": "0",
        "channel": "76",
        "crclength": "2",
        "retriesdelay": "15",
        "retriescount": "15",
        "payloadsize": "32"
    }
]
